

main {
    background: lightGrey;
    width: max-content;
    margin: auto;
}

.displayContainer {
    display: flex;
    gap: 1em;
}

.buttonContainer {
   max-width: 400px;
   display: flex;
   flex-wrap: wrap;
}

button {
    display: flex;
    flex: 1 25%;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid black;
    border-top:none;
    border-left:none;
    cursor: pointer;
}

#clear {
    flex: 4 100%;
}